<div class="footer p-10 navbar bg-yellow-500">
    <div class="flex-1">
      <a class="text-3xl font-bold">👩🏻‍🎓 สั่งจองชุดครุย</a>
      <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a class="btn btn-ghost normal-case text-xl ">🏠หน้าหลัก</a></li>
        <li><a class="btn btn-ghost normal-case text-xl">🌏เว็บไซต์</a></li>
      </ul>
    </div>
</div>
<!-- 
<div class="navbar-top h-25" style="background-color:#ffbb05 ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar" href="">
                <div style="color:black;  margin-left:250px;"><i class="fa fa-graduation-cap"></i>
                    สั่งจองชุดครุย </div>
            </a>
        </div>
        <div class="navbar-end ">
            <ul class="nav navbar-nav pull-right">
                <td><a href=""><i class="fa fa-home"></i> หน้าหลัก</a></td>
                <td><a href=""><i class="fa fa-globe"></i> เว็บไซต์</a></td>
            </ul>
        </div>
    </div>
</div>

 -->

<div class="min-h-full bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
        <img src="/assets/img/ther.png"/>
        <div>
            <h1 class="text-5xl font-bold">มหาวิทยาลัยราชภัฏมหาสารคาม</h1><br>
            <p class="text-black font-bold">เปิดระบบวันที่ : 12/1/2566 - 31/12/2566</p><br>
            <p class="text-black font-bold">สถานะ : เปิดระบบ</p><br>
            <p class="text-black font-bold">หมายเหตุ : -</p><br>
            <td><button class="btn btn-success text-white">ลงทะเบียนใช้งานระบบ</button></td>
            <td><button class="btn btn-success text-white">เข้าสู่ระบบ</button></td>
        </div>
    </div>
</div>

<footer class="text-xl footer footer-center p-6 bg-yellow-500 text-base-content font-bold">
    <div>
        <p>© Copyright © 2021 CongratsGowns.com</p>
    </div>
</footer>