<!doctype html>
<html lang="en" class="font-mono text-white  antialiased leading-tight">
<!-- ... -->

<body class="min-h-screen" style="background-image: url(assets/image/bg.jpg)">
    <div class="container">
        <nav>
            <span class="list-item"></span>
            <ul class="flex space-x-20 justify-center">
                <li><a href="">
                        <div class="mask mask-circle p-6 bg-yellow-500"><img src="assets/image/home-icon.png"></div><br>
                        <p class="text-xl font-thin text-center">หน้าแรก</p>
                    </a></li>
                <li><a href="/order/register">
                        <div class="mask mask-circle p-6 bg-yellow-500"><img src="assets/image/cart-icon.png"></div><br>
                        <p class="text-xl font-thin text-center">สั่งจองครุย</p>
                    </a></li>
                <li><a href="">
                        <div class="mask mask-circle p-6 bg-yellow-500"><img class="ml-3"
                                src="assets/image/projects-icon.png">
                        </div><br>
                        <p class="text-xl font-thin text-center">ตัวอย่างชุดครุย</p>
                    </a></li>
                <li><a href="">
                        <div class="mask mask-circle p-6 bg-yellow-500"><img src="assets/image/contact-icon.png"></div>
                        <br>
                        <p class="text-xl font-thin text-center">ติดต่อเรา</p>
                    </a></li>
            </ul>
        </nav>
    </div>
    <ul class="container">
        <li class="container ">
            <!-- <div class="heading mt-12">
                <p class="text-5xl font-extrabold text-center">สั่งจองชุดครุย</p>
                <p class="mt-1 text-xl font-extrabold text-center text-yellow-500">
                    สำหรับนักศึกษาที่จะเข้ารับพระราชทานปริญญาบัตร</p>
            </div> -->
            <div class="mx-auto max-w-screen-md mt-4 text-center mb-8 lg:mb-3">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white ">สั่งจองชุดครุย</h2>
                <p class="font-extrabold text-yellow-500 sm:text-lg">สำหรับนักศึกษาที่จะเข้ารับพระราชทานปริญญาบัตร</p>
            </div>
            <div class="mt-6 p-10 flex-row w-3/6 h-fit rounded-lg border-t-8 border-yellow-500 bg-white" style=" margin-left: 25%">
                <a class="flex flex-col items-center md:flex-row md:max-w-fit md:max-h-60">
                    <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-none"
                        src="assets/image/Aสั่งจอง.png">
                    <div class="flex flex-col md:min-w-full justify-end p-8 ">
                        <a>
                            <h2 class="mb-2 text-2xl font-mono tracking-tight text-gray-900 dark:text-white">การสั่งจอง
                                <em
                                    class="mb-2 text-2xl font-mono tracking-tight text-yellow-500 dark:text-white">"ชุดครุย"</em>
                            </h2>
                        </a>
                        <p class="mb-3 font-title text-gray-900 dark:text-gray-400">
                            สำหรับนักศึกษาที่จะเข้ารับพระราชทานปริญญาบัตร<br>
                            ให้ทำการสั่งจองชุดครุยตามขั้นตอนให้เรียบร้อย<br>
                            โดยนักศึกษาสามารถเลือกรับชุดครุย<br>
                            ได้ 3 ช่องทาง ดังนี้</p>
                        <p class="mb-3 font-title text-gray-900 dark:text-gray-400">
                            - 1. จัดส่งตามที่อยู่ของนักศึกษา<br>
                            - 2. รับชุดที่มหาวิทยาลัย<br>
                            - 3. รับชุดที่ร้าน<br>
                            <a href="/home/register"
                                class="mt-3 inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-yellow-600 rounded-lg hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:bg-yellow-500 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600">
                                สั่งจองชุดครุย
                                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </a>

                    </div>
                </a>
            </div>

        </li>
    </ul>


</body>

</html>