<!doctype html>
<html lang="en" class="font-mono text-white  antialiased leading-tight">
<!-- ... -->

<body class="min-h-screen" style="background-image: url(assets/image/bg.jpg)">
  <div class="container">
    <nav>
      <span class="list-item"></span>
      <ul class="flex space-x-20 justify-center">
        <li><a href="">
            <div class="mask mask-circle p-6 bg-yellow-500"><img src="assets/image/home-icon.png"></div><br>
            <p class="text-xl font-thin text-center">หน้าแรก</p>
          </a></li>
        <li><a href="">
            <div class="mask mask-circle p-6 bg-yellow-500"><img src="assets/image/cart-icon.png"></div><br>
            <p class="text-xl font-thin text-center">สั่งจองครุย</p>
          </a></li>
        <li><a href="">
            <div class="mask mask-circle p-6 bg-yellow-500"><img class="ml-3" src="assets/image/projects-icon.png">
            </div><br>
            <p class="mt-1.5 text-xl font-thin text-center">ตัวอย่างชุดครุย</p>
          </a></li>
        <li><a href="/home/subscribe">
            <div class="mask mask-circle p-6 bg-yellow-500"><img src="assets/image/contact-icon.png"></div><br>
            <p class="mt-1.5 text-xl font-thin text-center">ติดต่อเรา</p>
          </a></li>
      </ul>
    </nav>
  </div>
  <ul class="container">
    <li class="container ">
      <div class="mx-auto max-w-screen-md mt-4 text-center mb-8 lg:mb-3">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white ">ติดต่อเรา</h2>
        <p class="font-extrabold text-yellow-500 sm:text-lg">ติดต่อเรา ONLINE</p>
      </div>
      <div class="mt-6 p-10 flex-row w-3/6 h-fit rounded-lg border-t-8 text-center border-yellow-500 bg-white"
        style=" margin-left: 25%">
        <div class="">
          <h5 class="mb-2 text-3xl font-title text-gray-900 dark:text-white">ช่องทางติดต่อ</h5>
          <p class="mb-5 font-title text-gray-500 sm:text-lg dark:text-gray-400">มหาวิทยาลัยราชภัฏมหาสารคาม <br>
            80 ถนนนครสวรรค์ ต.ตลาด อ.เมือง จ.มหาสารคาม 44000 <br>
            โทรศัพท์ : 08-1747-8385 , 08-0837-6075 , 06-1404-2390 <br>
            Fax : 043-722117 อีเมล webmaster@rmu.ac.th <br>
            เปิดเวลา 08.30 น. - 16.30 น.</p>
        </div>
      </div>
    </li>
  </ul>
</body>
</html>