@import url('https://fonts.google.com/specimen/Oxygen');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    margin: 0;

    font-size: 1rem;
}



  