<section class="bg-white dark:bg-gray-900">
    <div class=" px-4 mx-auto max-w-5xl lg:py-3 lg:px-3">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-3">
            <h2 class="mt-10 mb-4 text-4xl tracking-tight font-extrabold text-black ">ตัวอย่างชุดครุย ป.โท</h2>
        </div>
        <div class="mt-10 space-y-2 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
              <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9701.jpg">
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9703.jpg">
              </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9704.jpg">
            </div>
        </div>
        <div class="mt-5 space-y-2 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9706.jpg">
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9705.jpg">
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9710.jpg">
            </div>
        </div>
        <div class="mt-5 space-y-2 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9714.jpg">
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9717.jpg">
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img class="object-cover w-full rounded-none h-48 md:h-full md:w-80 md:rounded-lg" src="http://regpr.msu.ac.th/assets/img/academicgown/B%E0%B9%82%E0%B8%9718.jpg">
            </div>
        </div>
    </div>
  </section>